
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-height: 90%;
    border-radius: 2rem;
    background-color: #f3f3f3;
    padding: 1rem 1rem;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
    z-index: 1000;
}
/*.modal .test {*/
/*    text-align: center;*/
/*}*/

.btn__closeModal {
    color: inherit;
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    font-size: 4rem;
    border: none;
    background: none;
}

.modal__header {
    text-align: center;
    font-size: 2rem;
}

.modal div {
    flex-direction: row;
    align-items: center;
    font-size: 1.7rem;
}

.modal div input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 8px 10px;
}

.modal div input[type=button] {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    border: none;
    background-color: rgba(165, 161, 161, 0.747);
    color: #222;
    padding: 0.75rem 3rem;
    border-radius: 25px;
    font-weight: bold;
    margin-top: 1rem;
}

.payment_methods{
    display: flex;
    justify-content: space-around;
}

.payment_methods input {
    flex :1;
    margin: 1rem;
}

.payment_methods img {
    flex: 1;
    position: relative;
    max-height: 20%;
    max-width: 20%;
}





