@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap');

.button {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    border: none;
    color: #222;
    padding: 0.75rem 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: 400;
  }
  
  
  .bump {
    animation: bump 300ms ease-out;
  }
  
  @keyframes bump {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    30% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }