.product {
    background-color: snow;
    width: 300px;
    border: 1px solid green;
    padding: 50px;
    margin: 20px;
    display: inline-block;
    text-align: justify;
}

.product-image {
    position: relative;
    border: round;
}

.product-name {
    font-weight: bold;
    font-family: Verdana;
}