button {
    cursor: pointer;
}

li {
    list-style-type: none;
}

.admin-view {
    font-family: Alata;
}

.admin-option Button {
    display: inline-block;
    margin: 0 auto;
    font-size: 16px;
    border: none;
}

.product-block {
    padding-top: 10px;
    padding-bottom: 10px;
}

.product-image {
    float: left;
    margin-right: 20px;
    margin-left: 20px;
}

.under-body Button{
    margin: 0 auto;
    display: block;
    font-size: 16px;
    border: none;
}