button {
    cursor: pointer;
}

li {
    list-style-type: none;
}

.cart-view {
    font-family: Alata;
}

.cart-image {
    float: left;
    margin-right: 20px;
    margin-left: 20px;
}

.under-body-cart Button{
    font-size: 16px;
    color: white;
    display: block;
    margin: 0 auto;
    width: 83%;
    background-color: rgba(0, 0, 0, 0.7);
}